<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/headers') %>
  <script src="/public/boardDesign.css"></script>
</head>

<body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-8">
          <h1 class="hft-sb-title display-5">Welcome to your chess-game</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <table>
            <tbody id="chessboard">
            </tbody>
        </table>
      </div>
    </div>
</body>

</html>