<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/headers') %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js" integrity="sha512-iZIBSs+gDyTH0ZhUem9eQ1t4DcEn2B9lHxfRMeGQhyNdSUz+rb+5A3ummX6DQTOIs1XK0gOteOg/LPtSo9VJ+w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/public/gameScript.js"></script>
  <script src="/public/boardDesign.css"> </script>  
  <style>
    body {
      background: url("public/source/floor.jpg");
    }
    .container{
      background-color:silver;
    }
    button{
      background-color: gray;
      border: none;
  color: black;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  margin-bottom: 5px;
    }
    #div_btn_section{
      margin: 1%;
    }
  </style>
</head>

<body>
    <div class="container">
      <!-- Raum und Message test-->
      <div class="row justify-content-center">
        
        <div class="col-xs-2 col-sm-8">
          <form action="" id="messageForm">
            <h2>Messages</h2>
            <div id="room"></div>
            <input id="m" autocomplete="off" /><button>Send Message</button>
          </form>
          <form action="" id="roomForm">
            <h2>Join another room: </h2>
           <input id="r" autocomplete="off" /><button>Join Room</button>
          </form>
        </div>
        <div class="col-xs-2 col-sm-4" id="messages" style="background-color: beige; height: 230px;overflow-x: hidden;overflow-y: auto;" >
          <h2>Chat</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-8">
          <h1 class="hft-sb-title display-5">Welcome to your chess-game</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <table>
            <tbody id="chessboard">
            </tbody>
        </table>
      </div>
      <div class="row justify-content-center" id="div_btn_section">
       <!--<div class="col-xs-12 col-sm-8"></div>--> 
          <button type="submit" id="create">Create Chessboard</button>
        
      <!--  <button type="submit" id="undo">Undo Selection</button>
     -->
      <button type="submit" id="confirm">Confirm Turn</button>
    </div>
    </div>

  </div>
</body>

</html>

<!-- width: 600px;
  height: 150px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;-->