<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/headers') %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js" integrity="sha512-iZIBSs+gDyTH0ZhUem9eQ1t4DcEn2B9lHxfRMeGQhyNdSUz+rb+5A3ummX6DQTOIs1XK0gOteOg/LPtSo9VJ+w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/public/gameScript.js"></script>
  <script src="/public/boardDesign.css"> </script>
</head>

<body>
    <div class="container">
      <!-- Raum und Message test-->
      <div>
        <ul id="messages"></ul>
        <form action="" id="messageForm">
          <h2>Messages</h2>
          <div id="room"></div>
          <input id="m" autocomplete="off" /><button>Send</button>
        </form>
        <form action="" id="roomForm">
          <h2>Join another room: </h2>
          <input id="r" autocomplete="off" /><button>Join Room</button>
        </form>
      </div>
      <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-8">
          <h1 class="hft-sb-title display-5">Welcome to your chess-game</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <table>
            <tbody id="chessboard">
            </tbody>
        </table>
      </div>
      <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-8"></div>
          <button type="submit" id="create" onclick="createChessboard()">Create Chessboard</button>
        </div>
        <div class="col-xs-12 col-sm-8"></div>
        <button type="submit" id="undo" onclick="undoSelection()">Undo Selection</button>
      </div>
      <div class="col-xs-12 col-sm-8"></div>
      <button type="submit" id="confirm" onclick="updateBoard()">Confirm Turn</button>
    </div>
    </div>
    <a href="/hostroom">Hostroom test</a>
  </div>
</body>

</html>