<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/headers') %>
</head>

<body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-8">
          <h1 class="hft-sb-title display-5" id="h1"></h1> <!--namen des Spielers einfügen  -->
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-8">
          <form>
            <div class="form-group">
             <table>
               <tr>
                 
                 <th>Name</th>
               </tr>
             </table>
              <button type="submit" class="btn btn-primary"id="btn_startGame">Start Game</button>
              <button type="submit" class="btn btn-primary"id="btn_exitHost">Exit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</body>

</html>