<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/headers') %>
</head>

<body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-8">
          <h1 class="hft-sb-title display-5">Create your private chess game</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-8">
          <form>
            <div class="form-group">
              <label for="inputName">Select a funny name</label>
              <input type="text" class="form-control" id="inputName" placeholder="Nickname">
              <label for="inputRoom">Copy room-id from the room you want to join</label>
              <input type="text" class="form-control" id="inputRoom" placeholder="Enter room-id">
              <button type="submit" class="btn btn-primary" id="btn_join">Join Room!</button>
              <button type="submit" class="btn btn-primary" id="btn_host">Host Game!</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</body>

</html>