<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/headers') %>
  <script src="/public/script.js"></script>
  <style>
    body {
      background: url("public/source/floor.jpg");
    }
    .container{
      margin-top: 10%;
      background-color:silver;
    }

  .button{
    display: block;
    width: 115px;
    height: 25px;
    background:gray;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    height: 120%;
    margin-top: 3%;
  }
  </style>

</head>

<body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-8">
          <h1 class="hft-sb-title display-5">Create your private chess game</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-8">
          <form>
            <div class="form-group">
              <label for="inputName">Select a funny name</label>
              <input type="text" class="form-control" id="inputName" placeholder="Nickname">
            <!--  <label for="inputRoom">Copy room-id from the room you want to join</label>
              <input type="text" class="form-control" id="inputRoom" placeholder="Enter room-id">
               <button type="submit" class="btn btn-primary" id="btn_join">Join Room!</button>-->
             <a href="/chessboard"class="button btn btn-link">Chessboard</a>
              <!--<button type="submit" class="btn btn-primary" id="btn_host">Host Game!</button>
           -->   
           </div>
          </form>
        </div>
      </div>
    </div>
</body>

</html>